/* body { */
/*     font-family: 'Capriola', sans-serif; */
/* } */
/* h1, h2, h3, h4, h5, h6 { */
/*     font-family: 'Peralta', cursive; */
/* } */

/* ngAnimate styles
   -------------------------------------------------- */
.animate-show {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
    opacity:1;
  }
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}
.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}

.animate-repeat {}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}
/* Sticky footer styles
   -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right:5%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
