<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Comfort</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <div ng-show="view.upgrade">
      <div class="alert alert-warning">
        <strong>I can't save anything for you!</strong> <br>
        <a href="https://www.google.com/chrome" >Please upgrade to a modern browser </a>
      </div>
    </div> <!-- view.history -->


    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Comfort v Success</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div ng-show="(habits.success.length > 0 && habits.comfort.length >0)">
        <hr />
        <button ng-show="!mindful && !alternative && !lastHabit" type="button" ng-click="show('mindful')" class="btn btn-primary btn-lg btn-block">I'm mindful of a Comfort Habit</button>
      </div>

      <div ng-show="lastHabit" class="alert alert-success">
        <h3>Good luck!</h3>
        <div class="text-center">
          You'll feel better after you {{lastHabit.name.toLowerCase()}}!
        </div>
        <hr />
        <div class="text-right muted ">
          <small  ng-click="lastHabit = undefined" >dismiss</small>
        </div>

      </div>

      <div ng-show="mindful" class="alert alert-info"> I'm mindful of...
        <hr />
        <button ng-click="show('alternative')" ng-repeat="habit in habits.comfort track by $index" type="button" class="btn btn-sm btn-block">{{habit.name}}</button>
      </div>

      <div ng-show="alternative" class="alert alert-success"> Instead I'm going to...
        <hr />
        <button ng-click="show(); setHabit(habit);" ng-repeat="habit in habits.success track by $index" type="button" class="btn btn-sm btn-block">{{habit.name}}</button>
      </div>

      <hr />

      <div ng-show="!mindful && !alternative">

      <h4 class="text-center">My Habits</h4>

        <table class="table table-condensed">
          <thead ng-click="editSuccess=!editSuccess" class="action-cursor">
            <th> <span ng-class="{'glyphicon-chevron-up':editSuccess, 'glyphicon-chevron-down':!editSuccess }" class="glyphicon "></span>&nbsp;Success
              <div>
              <label ng-show="habits.success.length < 1" class="label label-info">What makes you feel successful? </label>
              </div>
            </th>
          </thead>
          <tr ng-repeat="success in habits.success" ng-show="editSuccess" >
            <td>
              <span ng-click="removeSuccess($index)" class="glyphicon glyphicon-minus" style="color:red"></span>
              {{ success.name }}
            </td>
          </tr>
          <tfoot ng-show="editSuccess">
            <td>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="newSuccess">
                <span class="input-group-addon" ng-click="saveSuccess()">Add</span>
              </div>
            </td>
          </tfoot>
        </table>

        <table class="table table-condensed">
          <thead ng-click="editComfort=!editComfort">
            <th> <span ng-class="{'glyphicon-chevron-up':editComfort, 'glyphicon-chevron-down':!editComfort }" class="glyphicon "></span>&nbsp;Comforts
              <div>
              <label ng-show="habits.comfort.length < 1" class="label label-info">What are your comfort habits? </label>
              </div>
            </th>
          </thead>
          <tr ng-repeat="comfort in habits.comfort" ng-show="editComfort" >
            <td>
              <span ng-click="removeComfort($index)"class="glyphicon glyphicon-minus" style="color:red"></span>
              {{ comfort.name }}
              <a ng-click="editComfort=!editComfort"></a>
            </td>
          </tr>
          <tfoot ng-show="editComfort">
            <td>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="newComfort">
                <span class="input-group-addon" ng-click="saveComfort()">Add</span>
              </div>
            </td>
          </tfoot>
        </table>
    </div>
    <div id="footer">
      <div class="text-right">
        <small class="muted" >
          made by <a class="external text" href="https://twitter.com/sreal">@sReal </a>
        </small>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>

    <script src="js/store+json2.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>
